{% macro filters(destination, month, year, prefs, search) %}
<div class="menu">
    <button id="filter-button" style="display: block" onclick="show_filters()">Filters</button>
    <div id="filter-menu" style="display: none;">
    <form id="set-filters" action="/filter" method="POST">
        <input type="hidden" id="form-search" name="search" form="set-filters" value="{{ search }}">
        <input type="hidden" id="form-month" name="month" form="set-filters" value="{{ month }}">
        <input type="hidden" id="form-year" name="year" form="set-filters" value="{{ year }}">
        <input type="hidden" id="form-dest" name="dest" form="set-filters" value="{{ destination }}">
        <div>
        <input type="checkbox" id="show-twitter" name="show_twitter" form="set-filters"
               {% if "twitter" in prefs.get_filters() %}
               checked="checked"
                {% endif %}
            value="true">
            <label for="show-twitter">Twitter</label>
            </div>
        <div>
        <input type="checkbox" id="show-fitbit-sleep" name="show_fitbit-sleep" form="set-filters"
               {% if "fitbit-sleep" in prefs.get_filters() %}
                checked="checked"
                {% endif %}
                value="true">
            <label for="show-fitbit-sleep">Fitbit Sleep</label>
            </div>
        <div>
        <input type="checkbox" id="show-foursquare" name="show_foursquare" form="set-filters"
               {% if "foursquare" in prefs.get_filters() %}
               checked="checked"
                {% endif %}
                value="true">
            <label for="show-foursquare">Foursquare</label></div>
                <div>
        <input type="checkbox" id="show-sms" name="show_sms" form="set-filters"
               {% if "sms" in prefs.get_filters() %}
               checked="checked"
                {% endif %}
                value="true">
            <label for="show-sms">SMS</label></div>
            <div>
        <input type="checkbox" id="show-psn" name="show_psn" form="set-filters"
               {% if "psn" in prefs.get_filters() %}
              checked="checked"
               {% endif %}
               value="true">
        <label for="show-psn">Playstation Trophies</label></div>
        <input type="submit" value="Save">
    </form>
    </div>
</div>
{% endmacro %}
{% macro top(warn) %}
<div style="overflow: hidden; height: 48px; padding: 8px">
<table style="float: left{% if warn %}; display: none{% endif %};">
    <tr>
        <td><a href="/viewer">Viewer</a></td>
        <td>&bull;</td>
        <td><a href="/search">Search</a></td>
        <td>&bull;</td>
        <td><a href="/upload">Upload</a></td>
        <td>&bull;</td>
        <td><a href="/export">Export</a></td>
        <td>&bull;</td>
        <td><a href="/settings">Settings</a></td>
    </tr>
</table>
            <form style="float: right{% if disable %}; display: none{% endif %}" action="/search" method="get">
                <label for="keyword">Search:</label>
                <input type="text" id="keyword" name="term" value="{{ default }}">
                <input type="submit" value="Submit">
            </form>
</div>
{% endmacro %}
{% macro usual_head() %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endmacro %}