{% from "macros.html" import filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkHjJGDqUeq04-lIEphg6sWsiAjtfIyb3MgcVLNR9gpLhWFICvl78R-HHV4Y2Dna' async defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/viewer.js') }}"></script>

</head>
<body>
<iframe class="main" src="/top"></iframe>
<h1>Search</h1>
<p>Search for a term to get tweets.</p>
<p><form action="/search" method="get">
    <label for="keyword">Search:</label><br>
    <input type="text" id="keyword" name="term" value="{{ default }}">
    <input type="submit" value="Submit">
</form>
</p>
{{ filters("search", 0, 0, prefs) }}
{% if count %}
<p>Search returned {{ count }} result(s)</p>
{% endif %}
{% for event in events %}
<div class="time">
    {{ event.date.strftime("%A, %B %d %Y") }} -
    <a href="/viewer/{{ event.date.year }}/{{ event.date.month }}#{{ event.date.day }}">
        {{ event.time }}
    </a>
</div>
<div class="event {{ event.type }}">
    {% if event.get_reply_id() %}
    <button id="reply_btn_{{ event.id }}" onclick="fetch_reply('{{ event.get_reply_id() }}', '{{ event.id }}')">
        In reply to...
    </button>
    <div class="reply-embed" id="reply_{{ event.id }}"></div>
    {% endif %}
    {% if event.get_title() %}
    <div class="title">
        {{ event.get_title() }}
        {% if event.get_subtitle() %}
            <div class="subtitle">
                {{ event.get_subtitle() }}
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="text" {% if not event.get_body() %}hidden=true{% endif %}>
        {% for textline in event.get_body().split('\n') %}
        {{ textline }}<br>
        {% endfor %}
    </div>
    {% if event.get_geo() or event.fetch_venue() %}
    {% if event.get_geo() %}
    <div class="coordinates">
        <button onclick="get_map('{{ event.type }}_{{ event.id }}_map', {{ event.get_geo()['latitude'] }}, {{ event.get_geo()['longitude'] }})">
            Map
        </button>
    </div>
    {% elif event.fetch_venue() %}
    <div class="coordinates">
        <button id="{{ event.type }}_{{ event.id }}_button"
                onclick="get_map_by_id('{{ event.type }}_{{ event.id }}', '{{ event.type }}', '{{ event.venue_id }}')">
            Map
        </button>
    </div>
    {% endif %}
    <div class="bing_map" id="{{ event.type }}_{{ event.id }}_map" style="display:none">
    </div>
    {% endif %}
    <div class="client" id="{{ event.type }}_{{ event.id }}_footer">{{ event.get_footer() }}
    {% if event.is_editable() %}
     &bull; <a href="{{ event.get_edit_url() }}">Edit</a>
    {% endif %}</div>
    <div class="view_link"><a target="_blank" rel="noopener noreferrer" href="{{ event.get_url() }}">View Online</a></div>
</div>
{% endfor %}
</body>
</html>
