{% from "macros.html" import top %}
{% from "macros.html" import usual_head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{ usual_head() }}
    <title>User Settings</title>
</head>
<body>

<!--<iframe class="main" src="/top"></iframe>-->
{{ top() }}
<h1>Settings</h1>
<p>Set user preferences.</p>
<form id="save-settings" action="/settings" method="post">
    <table id="settings-table">
        <tr>
            <td>
                Time zone
            </td>
            <td>
            <select id="timezone" name="timezone" form="save-settings">
                {% for tz in timezones %}
                    <option value="{{ tz }}" {% if user_prefs.timezone == tz %} selected {% endif %}>{{ tz }}</option>
                {% endfor %}
            </select>
            </td>
        </tr>
        <tr>
            <td>
                View in reverse-chronological order
            </td>
            <td>
                <input type="checkbox" id="reverse_order" name="reverse_order" form="save-settings" {% if user_prefs.reverse_order %} checked="checked" {% endif %}>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="Save"></p>
    <p>{{ msg }}</p>
</form>
</body>
</html>