<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export as iCal</title>
</head>
<body>
<iframe class="main" src="/top"></iframe>
<h1>Export iCal</h1>
<p>Pick a start date and end date and the exporter will retrieve all events for this range and
convert them into an ical file which can be imported into most calendar apps.</p>
<form id="export-ical" method="post" action="/export">
    <label for="start-date">Start:</label>
    <input type="date" id="start-date" name="start-date">
    <label for="end-date">End:</label>
    <input type="date" id="end-date" name="end-date">
    <input type="submit" value="Get iCal">
</form>
</body>
</html>