<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<iframe class="main" src="/"></iframe>
<p>Search for a term to get tweets.</p>
<form action="/search" method="post">
    <label for="keyword">Search:</label><br>
    <input type="text" id="keyword" name="search" value="{{ default }}">
    <input type="submit" value="Submit">
</form>
<p>Search returned {{ count }} result(s)</p>
<table class="main">
    <tr>
        <th class="main">date</th>
        <th class="main">time</th>
        <th class="main">text</th>
        <th class="main">client</th>
        <th class="main">link</th>
    </tr>
    {% for row in events %}
    <tr>
        <td class="main"><a href="/day/{{ row[0] }}">{{ row[0] }}</a></td>
        <td class="main">{{ row[1] }}</td>
        <td class="main">{{ row[3] }}</td>
        <td class="main">{{ row[4] }}</td>
        <td class="main"><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/i/status/{{ row[2] }}/">view</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
