<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive View</title>
</head>
<body>
<iframe class="main" src="/"></iframe>
<form id="get-date" action="/viewer" method="get">
    <select id="month" name="month" form="get-date">
        {% for month in pickers["months"] %}
        <option value="{{ month['value'] }}"
                {% if month["name"] == header["month"] %} selected {% endif %}>
        {{ month["name"] }}
        </option>
        {% endfor %}
    </select>
    <select id="year" name="year" form="get-date">
        {% for year in pickers["years"] %}
        <option value="{{ year }}"
                {% if year == header["year"] %} selected {% endif %}>
        {{ year }}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
<table style="font-size: 20px">
    <tr style="background-color: #262626">
        <th><a href="/viewer/{{ nav['previous'] }}">&lt;</a></th>
        <th colspan="5">{{ header["month"] }} {{ header["year"] }}</th>
        <th><a href="/viewer/{{ nav['next'] }}">&gt;</a></th>

    </tr>
    <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
    {% for week in calendar %}
    <tr>
        {% for day in week %}
        {% if day['full_date'] == date %}
        <td style="background-color:{{ day['color'] }}; border: 1px solid black">
        {% else %}
        <td style="background-color:{{ day['color'] }}">
        {% endif %}
            <a class="calendar" href="#{{ day['day'] }}">{{ day["day"] }}</a>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% for day in month %}
{% if day["count"] != 0 %}
<h2 id="{{ day['date_day'] }}">{{ day["date_human"] }}</h2>
<p>{{ day["count"] }} event{% if day["count"] > 1 %}s{% endif %} <a href="#">Top</a></p>
    {% for row in day["events"] %}
<div class="time">{{ row[1] }}</div>
<div class="event">
    <div class="text">{{ row[3] }}</div>
    {% if row[5] and row[6] %}
    <div class="coordinates"><a>{{ row[5] }}, {{ row[6] }}</a></div>
    <div>
     <iframe width="325" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=280&w=325&cp={{ row[5] }}~{{ row[6] }}&lvl=14&typ=d&sty=r&src=SHELL&FORM=MBEDV8&pushpins={{ row[5] }}~{{ row[6] }}" scrolling="no">
     </iframe>
    </div>
    {% endif %}
    <div class="client">from {{ row[4] }}</div>
    <div class="view_link"><a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/i/status/{{ row[2] }}/">View on Twitter</a></div>
</div>
    {% endfor %}
{% endif %}
{% endfor %}
</body>
</html>